
@mixin auth($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);


    .sidenav,.drawer{
       background: mat-color($primary,50);

        overflow: hidden;
        position: relative;
    }
    [no-over-flow] {
        overflow: hidden;
    }
    .router-outlet{
        position: relative;padding: 0px 5px;
    }
    .spacer {
        width: 100%;
    }
    .mat-line , .ng-star-inserted {
      color: mat-color($foreground, icon);
    }

    md-icon {
      color: mat-color($foreground, icon);
    }

    cdk-sidemenu .mat-list .mat-list-item, cdk-sidemenu .mat-nav-list .mat-list-item, cdk-sidemenu .mat-selection-list .mat-list-item {
      color: #0288D1;
    }

    mat-nav-list cdk-sidemenu-item .secondaryMenu {
     background-color:  #2c2f32;

    }



}

